{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron">
  <h2>Please login</h2>
  <h3>(must be a site user, Please check with site admin)</h3>

  {% if form.errors %}
    <p>Please try again!!!</p>
  {% endif %}

  <form action="{% url 'login' %}" method="POST">
    <!-- form takes us to login page -->
    <!-- no blog:login as blog is in application folder
          so everything goes into blog directly-->
    {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Login">
      <input type="hidden" name="next" value="{{next}}">
      <!-- here next is the variable for login created by contrib.auth -->
  </form>

</div>


{% endblock %}
